<center>
    <br>
    <div style="width: fit-content;" class="border border-dark  rcorner bg-light">
        <h1>{{Movie.title}}</h1>
    </div>
    <br>
    <iframe class="border border-dark  rcorner" width="560" height="315" src="{{Movie.movieid}}"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
</center>