<center>
    <h1>{{Movie.title}}</h1>
    <iframe width="560" height="315" src="{{Movie.movieid}}" title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
</center>