<form style="width: 800px; margin-left: 10px; margin-top: 10px; float: left" method="get" action="/sell/added-product">
    <b>
        <div class="form-group">
            <label for="exampleInputEmail1">name</label>
            <input name="name" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter name">
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">image</label>
            <input name="image" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter image">
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">imagee</label>
            <input name="imagee" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter image image 2">
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">imageee</label>
            <input name="imageee" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter image 3">
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">price</label>
            <input name="price" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter price">
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">type</label>
            <input name="type" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter type">
        </div>
    </b>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<img style="margin-left: 20px;" width="500px" height="700px"
    src="http://pa1.narvii.com/6279/255d7aab2146709b507fad772140f68835d9ceb9_hq.gif" class="rounded float-right"
    alt="...">